html.dark body {
  color: white;
  background-color: #202124;
}

/* html.dark ::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

html.dark ::selection {
  background: red;
  color: #fff;
  text-shadow: none;
} */

html.dark code {
  background-color: lightblue;
  color: black;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
html.dark pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
html.dark pre code {
  background-color: #272822;
  color: unset;
  /* text-decoration: bold; */
  padding: 0.1em 0.2em;
}
html.dark blockquote {
  border-color: blue;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #ddd;
}
/* html.dark h1::before {
  color: var(--darkMaincolor);
  content: '# ';
}
html.dark h2::before {
  color: var(--darkMaincolor);
  content: '## ';
}
html.dark h3::before {
  color: var(--darkMaincolor);
  content: '### ';
}
html.dark h4::before {
  color: var(--darkMaincolor);
  content: '#### ';
}
html.dark h5::before {
  color: var(--darkMaincolor);
  content: '##### ';
}
html.dark h6::before {
  color: var(--darkMaincolor);
  content: '###### ';
} */

html.dark a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
html.dark a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

html.dark .site-description a {
  color: #ddd;
}
html.dark .site-description a:hover {
  color: black;
}

html.dark .tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
html.dark .tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

html.dark .site-title a {
  color: white;
  text-decoration: none !important;
}

html.dark .active {
  border-bottom: 0;
}

html.dark .header nav,
html.dark .footer {
  border-color: #333;
}

html.dark .highlight {
  background-color: #333;
}
html.dark .soc:hover {
  color: black;
}
html.dark .draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
html.dark .highlight pre code[class='language-javaScript']::before,
html.dark .highlight pre code[class='language-js']::before {
  content: 'js';
  background: #f7df1e;
  color: black;
}
html.dark .highlight pre code[class*='language-yml']::before,
html.dark .highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}
html.dark .highlight pre code[class*='language-shell']::before,
html.dark .highlight pre code[class*='language-bash']::before,
html.dark .highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: green;
  color: white;
}
html.dark .highlight pre code[class*='language-json']::before {
  content: 'json';
  background: dodgerblue;
  color: #000000;
}
html.dark .highlight pre code[class*='language-python']::before,
html.dark .highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow;
}
html.dark .highlight pre code[class*='language-css']::before {
  content: 'css';
  background: cyan;
  color: black;
}
html.dark .highlight pre code[class*='language-go']::before {
  content: 'Go';
  background: cyan;
  color: royalblue;
}
html.dark .highlight pre code[class*='language-md']::before,
html.dark .highlight pre code[class*='language-md']::before {
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke;
}
